<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <title>Shopping Website</title>

</head>

<body>
    <section id="header">
        <a href="{{ url_for('index')}}" style="text-decoration: none">
            <h2>Shopping</h2>
        </a>
        <div>
            <ul id="navbar">
                <li><a href="{{ url_for('index')}}">Home</a></li>
                <li><a href="{{ url_for('products')}}">Products</a></li>
                <!-- <li><a href="Wishlist.html">Wishlist</a></li> -->
                <li><a href="{{ url_for('login')}}">Account</a></li>
                <li><a href="{{ url_for('aboutus')}}">About</a></li>
                <li id="lg-bag" class="active" style="text-decoration: none"><a href="{{ url_for('cart')}}"><i
                            class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="{{ url_for('cart')}}" style="text-decoration: none"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>

        </div>
    </section>

    <section id="page-header" class="about-header">
        <h2>#Check Out</h2>
        <p>Check Out and Enjoy our Products!</p>
    </section>

    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="static/img/products/p1.jpg" alt=""></td>
                    <td>Cartoon Astronaut T-shirts</td>
                    <td>$118.19</td>
                    <td><input type="number" value="1" class="quantity-input"></td>
                    <td class="total-price">$118.19</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="static/img/products/p2.jpg" alt=""></td>
                    <td>Cartoon Astronaut T-shirts</td>
                    <td>$118.19</td>
                    <td><input type="number" value="1" class="quantity-input"></td>
                    <td class="total-price">$118.19</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="static/img/products/p3.jpg" alt=""></td>
                    <td>Cartoon Astronaut T-shirts</td>
                    <td>$118.19</td>
                    <td><input type="number" value="1" class="quantity-input"></td>
                    <td class="total-price">$118.19</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter Your Coupon">
                <button class="normal">Apply</button>
            </div>
        </div>
        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td id="cart-subtotal">$335</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td id="cart-subtotal-ship">$335</td>
                </tr>
            </table>
            <button class="normal">Proceed to checkout</button>
        </div>
    </section>


    <footer class="section-p1">
        <div class="col">
            <img src="static/img/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> Bruce B Downs Blvd</p>
            <p><strong>Phone:</strong>+1 6562049519/ +16562006993</p>
            <p><strong>Hours:</strong>10:00 - 20:00, Mon-Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="{{ url_for('aboutus')}}">About Us</a>
            <a href="#">Return Policy</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="{{ url_for('contactus')}}">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="{{ url_for('cart')}}">View Cart</a>
            <!-- <a href="#">Wishlist</a> -->
            <a href="#">Track My Order</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="static/img/app/a1.jpg" alt="">
                <img src="static/img/app/a2.jpg" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="static/img/app/a3.png" alt="">
        </div>
        <div class="copyright">
            <p>&COPY; Copyrights 2023 at <a href="" style="text-decoration: none;">Shopping Website</a></p>
        </div>
    </footer>
    <script>
       

    </script>

    <script>
        const quantityInputs = document.querySelectorAll('.quantity-input');
        const cartSubtotal = document.querySelector('#cart-subtotal');
        const cartSubtotalship = document.querySelector('#cart-subtotal-ship');

        quantityInputs.forEach((input) => {
        input.addEventListener('input', (event) => {
            const quantity = event.target.value;
            const price = event.target.parentNode.previousElementSibling.textContent.slice(1);
            const total = quantity * price;
            
            // Update the total price in the same row
            event.target.parentNode.nextElementSibling.textContent = `$${total.toFixed(2)}`;
            
            // Recalculate the cart subtotal
            let subtotal = 0;
            document.querySelectorAll('.total-price').forEach((price) => {
            subtotal += parseFloat(price.textContent.slice(1));
            });
            cartSubtotal.textContent = `$${subtotal.toFixed(2)}`;
            cartSubtotalship.textContent = `$${subtotal.toFixed(2)}`;

        });
        });


    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>